/task-4
/use.fontawesome.com/releases/v5.6.3/css/unused
/use.fontawesome.com/releases/v5.6.3/js/unused
/use.fontawesome.com/releases/v5.6.3/metadata
/maxcdn.bootstrapcdn.com/bootstrap/4.3.1
/maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/unused
/maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/unused
/ajax.googleapis.com/ajax/libs/jquery/3.4.1/unused
/cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js.bak